<div class="container">
<!-- <div class="row">
<div class="col-md-2">The</div>
<div class="col-md-8"> -->


<%= form_for(@video) do |f| %>
  <p>
      <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, cols: 40, rows: 7 %>
    </p>
    <p>
      <%= f.label :youtube_id, 'Youtube Id' %><br>
      <%= f.text_field :youtube_id %>
    </p>
  <p>
      <%= f.submit %>
      <%= link_to "Cancel", videos_path %>
    </p>
<% end %>
<!-- <div class="col-md-2">Thew </div>
</div>
</div> -->
</div>

