<h1><%= pluralize(@videos.size, 'Video') %> | <%= link_to 'Add New Video', new_video_path, class: 'button' %></h1>

<ul>
<% @videos.each do |video| %>
<li>
<article>
<p><%= link_to video.title, video %> has the Youtube video id of <%= video.youtube_id %><br/>
Description: <%= video.description %></p>
<!-- <table>
        <tr>
          <th>Video Title:</th>
          <td><%= video.title %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= video.description %></td>
        </tr>
        <tr>
          <th>Video Link:</th>
          <td><%= video.youtube_id %></td>
        </tr>
      </table> -->
    </article>
</li>
<% end %>
</ul>
