<!-- <div class="main"> -->
<!-- <div class='row'> -->
<!-- <div class='col-md-2'></div> -->

<!-- <div class='col-md-10 col-md-offset-2'> -->
<div class="show">
<h2><%= @video.title %></h2>
<h3><%= @video.description %></h3><br>
<iframe src="//www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe><br/><br>

<%= link_to "Edit", edit_video_path(@video), class: 'btn btn-warning' %>
<%= link_to "Delete", video_path(@video), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }  %>
</div><br>

<div class='comment-post'>
<!-- <div class="comment"> -->
<div id='render'><%= render 'comments/form', :video => @video, :comment => @video.comments.build %></div><br>
<h2>Comment Box</h2>
<div id='post'>

<ul>
<% @video.comments.each do |comment| %>


  <p><li><%= comment.content %></p></li>
  <% end %>

  </ul>
  </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
<!-- </div>
</div> -->




